<!-- HTML (en tu componente de contacto, por ejemplo) -->
<section class="contact-container">
    <div class="social-links">
      <a href="https://github.com/LinLicoa" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/github.svg" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/lindsay-villegas-licoa-9378031a3/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="https://www.instagram.com/life.lindsay/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/instagram.svg" alt="Instagram">
      </a>
      <!-- Agrega más enlaces e imágenes según sea necesario -->
    </div>
  </section>
  
