<!-- technology-list.component.html -->
<div class="technology-list-container">
    <div class="title">
      <h2>Tecnologías</h2>
    </div>
    <div class="technology-icons">
      <div class="technology">
        <img src="../../assets/git.svg" alt="GIT">
        <p>Git</p>
      </div>
      <div class="technology">
        <img src="../../assets/angular.svg" alt="Angular">
        <p>Angular</p>
      </div>
      <div class="technology">
        <img src="../../assets/react.svg" alt="REACT">
        <p>React</p>
      </div>
      <div class="technology">
        <img src="../../assets/csharp.svg" alt="C">
        <p>C#</p>
      </div>
      <div class="technology">
        <img src="../../assets/sql.svg" alt="SQL">
        <p>SQL</p>
      </div>
      <div class="technology">
        <img src="../../assets/figma.svg" alt="Figma">
        <p>Figma</p>
      </div>
    </div>
  </div>
  
